<%- include('../partials/header') %> <%- include('../partials/menu') %>
<section id="about">
  <div class="container-fluid overlay h-100">
    <div class="container">
      <div class="row">
        <div class="card d-flex text-center" style="border-radius: 20px">
          <h2>About As</h2>
          <p>
            <span class="fw-bold"> PT. ETM Metal Group</span> is a national
            private company and is engaged in mining tin, with the vision of the
            tin and aluminium company nation wide private sector that has the
            ability to meet the demands from the global tin and aluminium market
            with quality items high and sustained, figure out marketing
            strategis, budgeting along. with procurement of capital, managing
            the corporate finance and its subsidiaries, formulate values, norms,
            and thingking of corporate basis, define business development, both
            purchases and alliances by subsidiaries.
          </p>
          <h3>Mision & Vision</h3>
          <p><span class="fw-bold">Company Vision</span></p>
          <p>
            To be recognized and respected as proficient miner and supplier of
            tin and aluminium locally and internationally.
          </p>
          <p><span class="fw-bold">Company Mission</span></p>
          <p>
            To reward our shareholders customer, employees, supplier government
            and the communities and which we operate for through the provision
            of organic organizational growth quality superior performance in all
            we do with a strong focus on environmental friendliness.
          </p>
          <hr />
          <div class="card mb-3">
            <img src="img/produksi.jpeg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Offshore Tin Mining</h5>
              <p class="card-text">
                The operations area of PT. ETM Metal Group convering Tanjung
                Balai and section of Riau Islands, both onshore in mining
                concession (KP) which mostly in Tanjung Balai. Alluvial mining
                process recognized by adequate equipment like gravel pump and
                humprey spiral which operation is compliance with good mining
                practicies.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<%- include('../partials/footercontain') %> <%- include('../partials/footer') %>
