<%- include('../partials/header.ejs') %> <%- include('../partials/menu.ejs') %>
<section id="contact">
  <div class="container-fluid overlay h-100">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h3>Butuh Konsultasi ? silakan hubungi kami siap membantu</h3>
          <div class="kontak">
            <h6>kontak</h6>
            <div class="mb-3 d-flex align-items-center">
              <div>
                <img src="img/asset/alamat.png" alt="" />
              </div>
              <a href=""
                >GRAND SLIPI TOWER Jl. Letjen. S Parman - Kav. 22-24 Slipi
                Jakarta Barat.</a
              >
            </div>
            <div class="mb-3">
              <img src="img/asset/telepon.png" alt="" />
              <a href="">+62 21-2949-0536</a>
            </div>
            <div class="mb-3">
              <img src="img/asset/email.png" alt="" />
              <a href="">palevi.etmgroup@gmail.com</a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card-contact w-100">
            <form>
              <h3=>ada petanyaan</h3>
              <div class="form-floating mb-3">
                <input
                  type="email"
                  class="form-control"
                  id="floatingInput"
                  placeholder="text"
                />
                <label for="floatingInput" class="d-flex align-items-center"
                  >Name</label
                >
              </div>
              <div class="form-floating mb-3">
                <input
                  type="email"
                  class="form-control"
                  id="floatingInput"
                  placeholder="name@example.com"
                />
                <label for="floatingInput" class="d-flex align-items-center"
                  >Email address</label
                >
              </div>
              <div class="form-floating mb-3">
                <input
                  type="email"
                  class="form-control"
                  id="floatingInput"
                  placeholder="text"
                />
                <label for="floatingInput" class="d-flex align-items-center"
                  >subject</label
                >
              </div>
              <div class="form-floating">
                <textarea
                  class="form-control"
                  placeholder="Leave a comment here"
                  id="floatingTextarea2"
                  style="height: 100px"
                ></textarea>
                <label for="floatingTextarea2" class="d-flex align-items-center"
                  >Comments</label
                >
              </div>
              <div class="row">
                <dir class="col-12 btn">
                  <button type="submit" class="button-kontak">KIRIM</button>
                </dir>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<%- include('../partials/footercontain.ejs') %> <%-
include('../partials/footer.ejs') %>
