<%- include('../partials/header.ejs') %> <%-include('../partials/menu.ejs') %>
<!-- Navbar -->
<section id="hero">
  <div class="container-fluid h-100">
    <div class="row h-100">
      <div class="col-md-12 hero-tagline my-auto">
        <div data-aos="fade-up"><h1>Welcome To PT. EMT Metal Group</h1></div>
        <div data-aos="fade-right">
          <p>
            <span class="fw-bold">PT. EMT METAL GROUP</span> is a national
            private company and is engaged in mining tin, with the vision of the
            tin and aluminium company nation wide private sector that has the
            ability to meet the demands from the global tin and aluminium market
            with quality items high and sustained, figure out marketing
            strategis, budgeting along. with procurement of capital, managing
            the corporate finance and its subsidiaries, formulate values, norms,
            and thingking of corporate basis, define business development, both
            purchases and alliances by subsidiaries.
          </p>
        </div>
        <a href="/about">
          <button class="btn-lg-primary">ABOUT US</button>
        </a>
        <img src="img/asset/eva_arrow-ios-forward-fill.png" alt="" />
      </div>
    </div>
    <img
      src="img/asset/Layer_x0020_1 (2).png"
      alt=""
      class="accsent-img h-100 position-absolute top-0 start-0"
    />
    <img
      src="img/asset/Group 7 (1).png"
      alt=""
      class="position-absolute end-0 bottom-0 img-hero"
    />
  </div>
</section>

<!-- layanan section -->

<section id="layanan">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2>CORPORATE OVERVIEW</h2>
        <span class="sub-tittle"
          >We believe, your trust is very valuable to us.
        </span>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-4 text-center">
        <div data-aos="zoom-in">
          <div class="card-bisnis">
            <div class="circle-icon position-relative mx-auto">
              <button
                type="button"
                class="btn btn-light position-absolute top-50 start-50 translate-middle"
              >
                <i class="fa-solid fa-business-time"></i>
              </button>
            </div>
            <h3 class="mt-4">OUR BUSINESS</h3>
            <p class="mt-3">
              EMG Holding Group can be a leading supplier of Mining Solution,
              Tin Ingot, etc.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <div data-aos="zoom-in">
          <div class="card-bisnis">
            <div class="circle-icon position-relative mx-auto">
              <button
                type="button"
                class="btn btn-light position-absolute top-50 start-50 translate-middle"
              >
                <i class="fa-solid fa-building"></i>
              </button>
            </div>
            <h3 class="mt-4">CORPORATE OVERVIEW</h3>
            <p class="mt-3">
              Combined with our name it represents your commitment to combining
              intellectual, muscle which has a hands-on approach.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <div data-aos="zoom-in">
          <div class="card-bisnis">
            <div class="circle-icon position-relative mx-auto">
              <button
                type="button"
                class="btn btn-light position-absolute top-50 start-50 translate-middle"
              >
                <i class="fa-regular fa-handshake"></i>
              </button>
            </div>
            <h3 class="mt-4">OUR VALUES</h3>
            <p class="mt-3">
              We believe that our Values are standard to how EMG Holding Group
              operates around the globe
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- project -->
<section class="about-us sec-padd-top">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="embed-responsive embed-responsive-4by3">
          <iframe
            width="100%"
            height="315"
            src="https://www.youtube-nocookie.com/embed/qc4fcn0gvQE?si=Rb9y6ncTAW5XKsEA&amp;controls=0"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
          ></iframe>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="about-text">
          <h2>EXPLORATION</h2>
          <div class="text">
            <p>
              <span class="fw-bold">PT. ETM Metal Group </span> is carrying out
              integrated aluminium smelting operations that are profitable, safe
              and environmentally friendly Participate in empowering surrounding
              communities through appropriate Corporate Social Responsibility
              (CSR), and Community
            </p>
          </div>
          <div class="fact-counter">
            <ul>
              <li class="single-fact-counter">
                <div class="icon-holder">
                  <span class="flaticon-social"></span>
                </div>
                <span class="timer" data-to="5">5</span>
                <i class="fa fa-plus" aria-hidden="true"></i>
                <h3>YEARS OF EXPERIENCE</h3>
              </li>
              <li class="single-fact-counter">
                <div class="icon-holder">
                  <span class="flaticon-landscape"></span>
                </div>
                <span class="timer" data-to="500">5</span>
                <i class="fa fa-plus" aria-hidden="true"></i>
                <h3>EMPLOYEES STRENGTH</h3>
              </li>
              <li class="single-fact-counter">
                <div class="icon-holder">
                  <span class="flaticon-innovation"></span>
                </div>
                <span class="timer" data-to="55">55</span>
                <i class="fa fa-plus" aria-hidden="true"></i>
                <h3>SUPPLIERS</h3>
              </li>
              <li class="single-fact-counter">
                <div class="icon-holder">
                  <span class="flaticon-innovation"></span>
                </div>
                <span class="timer" data-to="521">521</span>
                <i class="fa fa-plus" aria-hidden="true"></i>
                <h3>HAPPY CLIENTS</h3>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="harga">
  <div class="container">
    <div class="row" style="padding: 20px">
      <div class="col-sm-6 mb-3 mb-sm-0">
        <div data-aos="zoom-in-right">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">LME TIN</h5>
              <p class="card-text">Non-ferrous metals</p>
              <a
                href="https://www.lme.com/en/Metals/Non-ferrous/LME-Tin#Trading+day+summary"
                class="btn btn-danger"
                style="border-radius: 50%"
                ><i class="fa-solid fa-chart-column"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
          <div data-aos="zoom-in-left">
            <div class="card-body">
              <h5 class="card-title">LME COPPER</h5>
              <p class="card-text">Non-ferrous metals</p>
              <a
                href="https://www.lme.com/Metals/Non-ferrous/LME-Copper#Trading+day+summary"
                class="btn btn-danger"
                style="border-radius: 50%"
                ><i class="fa-solid fa-chart-column"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="padding: 20px">
      <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
          <div data-aos="zoom-in-right">
            <div class="card-body">
              <h5 class="card-title">Aluminium Alloy</h5>
              <p class="card-text">Non-ferrous metals</p>
              <a
                href="https://www.lme.com/Metals/Non-ferrous/LME-Aluminium-Alloy#Trading+day+summary"
                class="btn btn-danger"
                style="border-radius: 50%"
                ><i class="fa-solid fa-chart-column"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div data-aos="zoom-in-left">
            <div class="card-body">
              <h5 class="card-title">Aluminium</h5>
              <p class="card-text">Non-ferrous metals</p>
              <a
                href="https://www.lme.com/en/Metals/Non-ferrous/LME-Aluminium#Trading+day+summary"
                class="btn btn-danger"
                style="border-radius: 50%"
                ><i class="fa-solid fa-chart-column"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="about-us sec-padd-top">
  <div class="container">
    <div class="row" style="padding: 8px">
      <div class="col-md-6 col-sm-12">
        <div class="card">
          <img src="img/csr.jpeg" class="card-img" alt="..." />
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="about-text">
          <h2>Sustainability And CSR</h2>
          <div class="text">
            <p>
              Under the auspices of Indochem Patra Chemicals Care, Indochem
              Patra Chemicals is committed to prioritize all the efforts in
              creating a harmony between CAP’s business sustainability and
              corporate social responsibility (CSR). Indochem Patra Chemicals
              seeks to engage in in sustainable development, working with
              employees, employee’s families, local communities, and the public
              as well as Stakeholders in order to improve the quality of a
              better life.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end project -->

<%- include('../partials/footercontain.ejs') %>
<%-include('../partials/footer.ejs') %>
