<%- include('../partials/header.ejs') %> <%- include('../partials/menu.ejs') %>
<section id="product">
  <div class="container-fluid overlay h-100">
    <div class="container">
      <div class="card">
        <h5 class="card-header">ALUMINIUM PRODUCTS</h5>
        <div class="card-body">
          <div class="card mb-3" style="max-width: 12000px">
            <div class="row g-0">
              <div class="col-md-4">
                <img
                  src="img/produk-etm/aluminyum-kulce-1.jpg"
                  class="img-fluid rounded-start"
                  alt="..."
                />
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">ALUMINIUM IGOT</h5>
                  <p class="card-text">
                    Strong, lightweight and infinitely recyclable, aluminium is
                    a vital material that keeps the modern world moving.
                    Virtually every person and indeed most of the world, uses
                    aluminium every single day. The metal is so ubiquitous that
                    many of us don't even realize how often it touches our
                    lives. In fact, people use more aluminium today than at any
                    point in the 125-year history of the metal's commercial
                    production. Aluminium is critical to modern mobility and
                    connectivity and without it, many of the conveniences of
                    today's world would simply not exist.
                  </p>
                  <P
                    >The reach of this metal has grown exponentially. As
                    aluminium enters into its second century of widespread use,
                    new scientific and production technologies continue to
                    expand its market potential. Solar panel nanotechnology,
                    transparent aluminium alloys and aluminium-air batteries
                    will help lead the way toward the development of new and
                    innovative markets in the 21st century.
                  </P>
                  <P
                    >Today, aluminium is recognized as one of the most energy
                    efficient and sustainable construction materials. An
                    estimated 85 percent of the aluminium used in buildings
                    built today comes from recycled material.
                    Aluminium-intensive LEED-certified buildings have won awards
                    for Platinum, Gold and Best-in-State sustainability
                    across</P
                  >
                  <!-- <p class="card-text">
                    <small class="text-body-secondary"
                      >Last updated 3 mins ago</small
                    >
                  </p> -->
                </div>
              </div>
            </div>
          </div>
          <a href="/specification" class="btn btn-primary">
            <span>specification</span>
            <i class="fa-solid fa-magnifying-glass"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</section>
<%- include('../partials/footercontain.ejs') %> <%-
include('../partials/footer.ejs') %>
