<%- include('../partials/header') %> <%- include('../partials/menu') %>
<section id="product">
  <div class="container-fluid overlay h-100">
    <div class="container">
      <div class="row">
        <div class="card d-flex" style="padding: 20px">
          <div class="card">
            <h5 class="card-header">specification</h5>
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <div class="card text-bg-dark">
                    <img src="img/ps/aluminum.jpeg" alt="" />
                  </div>
                </div>
                <hr />
                <div class="col">
                  <h5>
                    Appearance : silvery white Aluminium ingot for remelting is
                    produced by molten salt electrolys is method using alumina
                    and cryolite. Products meet the national standard
                    GB/T1196-2002. The surface of ingot is clean and smooth.
                  </h5>
                  <h5>Product Description</h5>
                  <h6>Pure Aluminium Ingot</h6>
                  <br />
                  <h5>Chemical Composition : Al</h5>
                  <h5>Weight : 25KG</h5>
                  <h5>Al(Min.) :99%-99.9%</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<%- include('../partials/footercontain') %> <%- include('../partials/footer') %>
